* {
    box-sizing: border-box;
    margin: 0;
}

.body {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.img-responsive {
    min-width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.container {
    max-width: 1350px;
    min-width: 375px;
    margin: 0 auto;
    padding: 0 30px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
@media (min-width: 768px) {
    .container {
        padding: 0 60px;
    }
}
@media (min-width: 992px) {
    .container {
        padding: 0 15px;
    }
}
